.ballot {
    max-width: 400px;
    border: 0;
}


@media only screen and (max-width: 992px) {
.ballot {
    max-width: 400px;
    border: 0;
    }
}
@media only screen and (max-width: 768px) {
    .ballot {
        max-width: 400px;
        border: 0;
    }}
@media only screen and (max-width: 576px) {
    .ballot {
        max-width: 400px;
        border: 0;
    }
}
.checkbox{
    padding: 20px;
}
.checkbox:hover{
    content: url(../images/checkedBallot.png)
}