.registration{
    background-color: white;
    max-width: 620px;
  }

  legend {
      color: rgb(46, 89, 143);
      margin: 0;
      padding-top: 10px;
  }
  .inputReg{
      width: 100%;
      color:rgb(148, 15, 21);
      background-color:  rgb(235, 234, 217);
  }

::placeholder{
    color: rgb(148, 15, 21)
}


  .form {
    margin:0;
    padding:0;
  }
  
  .no-padding {
    padding:0;
  }
  
  .right-padding {
    padding-right:0;
  }
  .left-padding {
    padding-left:0;
  }
  .labelReg{
    margin:0
  }

  .birth{
      color: rgb(46, 89, 143);
  }

  .profileBtn{
    background-color: white;
    border: 0;
    margin: 0;
    padding:0;
}

  .btn{
      max-width: 100px;
      max-height: 100px;
      background-color: white;

    }
        .btnSpace{
            padding-left: 400px;
          }

    @media only screen and (max-width: 580px) {
        .no-padding {
            padding-right:15;
            padding-left:15;

          }
          
          .right-padding {
            padding-right:15;
            padding-left:15;

          }
          .left-padding {
            padding-left:15;
            padding-right:15;
          }

          .btnSpace{
            align-content: center;
            padding-left:0;
          }}